.btn{
    background-color: #2f303A80;
    height: 30px;
    width: 100px;
    /*border-radius: 10px;*/
    align-items: center;
    

}

.btnIcon {
    height: 20px;
    width: 20px;
    padding-right: 5%;
    }